body {
    background: url(../portfolio-project-files/sharon-mccutcheon-NkQD-RHhbvY-unsplash.jpg) no-repeat center center fixed;
    -webkit-background: cover;
    -moz-background: cover;
    -o-background: cover;
    background: cover;

}

